<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">

  </head>
  <body>


    <div class="container-fluid">
      <div style="background-color: lightblue">hi</div>
      <div style="background-color: red">hi2</div>
    </div>


    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
